.content-right
  align-items center
  padding-right 1%

.md-button.md-icon-button
  color rgba(0,0,0,0.74)

.content-brand
  background-image url($fondo-nav)

.gradient
  width 100%
  height 100%
  background -moz-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%) /* FF3.6-15 */
  background -webkit-linear-gradient(right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* Chrome10-25,Safari5.1-6 */
  background linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.mort.ng-scope, .mort
  height 100%

.vista
  background-color #f2f2f2

md-toolbar.md-menu-toolbar
  color $font-color

.md-toolbar-tools
	color $font-color!important

.menu, md-menu-bar button, .title
  min-height 50px!important

md-menu-bar
  padding-left 10px!important

md-menu-bar md-menu button
	color $font-color

md-menu-bar.md-default-theme md-menu.md-open > button,
md-menu-bar md-menu.md-open > button,
md-menu-bar.md-default-theme md-menu > button:focus,
md-menu-bar md-menu > button:focus,
.title:focus
    outline none
    background transparent!important

.title
  font-size 28px
  font-weight bold
  letter-spacing 2px
  color $font-color
  margin 0
  border 0
  background-color transparent
  height: 40px
  padding-left 25%
  text-shadow 0px 0px 2.5px  rgba(0,0,0,0.5)

  /*
  INTERNAL CONTENT
  */

.sub-title
  height 40px

.gradient-sub
  background -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%) /* FF3.6-15 */
  background -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* Chrome10-25,Safari5.1-6 */
  background linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.md-body-1
  opacity .5
