<section class="mort" layout='column'>
  <div layout='column'>

    <md-toolbar flex layout='row' class="md-menu-toolbar md-whiteframe-1dp menu">

      <div layout='row' flex='10' class="content-brand">
        <div class="gradient">
          <button  class="title">
            NIX
          </button>
        </div>
      </div>

      <div layout="row" flex>
        <md-menu-bar>
          <md-menu ng-repeat='menu in $ctrl.structMenu'>
            <button ng-click='$mdOpenMenu()'>
                {{menu.title}}
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent" ng-repeat='itemMenu in menu.items'>
                <md-icon md-font-library="material-icons">{{itemMenu.icon}}</md-icon>
                <md-button ng-click="$ctrl.serf(itemMenu.state)">
                  {{itemMenu.title}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>

      <div layout='row'  flex='13' class="content-right">
        <md-button class="md-icon-button " aria-label="More">
          <i class="material-icons">settings</i>
          <md-tooltip>Configuración</md-tooltip>
        </md-button>
        <md-button ng-click='$ctrl.closeSession($event)' class="md-icon-button" aria-label="More2">
          <i class="material-icons">power_settings_new</i>
          <md-tooltip>Cerrar sesión</md-tooltip>
        </md-button>
        <md-button class="md-icon-button " aria-label="More3">
          <i class="material-icons">face</i>
          <md-tooltip>Perfil</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
  </div>
  <md-content class="mort vista" layout="column" flex layout-padding>
    <div ui-view=""></div>
  </md-content>
</section>
